<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Faculties</title>
  </head>
  <body>
    <h2>Faculty</h2>
    <button>
      <a href="/course/new" style="text-decoration: none">Add Course</a>
    </button>
    <ul>
      <% for(faculty of faculties) {%>
      <li>
        <a href="/faculty/<%=faculty._id%>/show"><%=faculty.username %></a>
      </li>
      <% } %>
    </ul>
  </body>
</html>
