<footer>
  <!-- <p>This is the footer</p> -->
  <ul class="nav flex-column navbar-dark bg-dark">
    <li class="nav-item">
      <a class="nav-link" aria-current="page" href="#">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Email</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Twitter</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled">Disabled</a>
    </li>
  </ul>
</footer>
