<% layout('layouts/boilerplate') %>

<h1>Home: Yelp Camp</h1>
<center>
  <img
    src="https://t3.ftcdn.net/jpg/03/51/53/82/240_F_351538254_A732Z2Hj1UwlgPtNL2QJQ30IQFZ5GicG.jpg"
    alt=""
  />
</center>
