<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head')%>

  <body>
    <%- include('partials/navbar')%>
    <h1>Home Page</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Praesentium
      distinctio sequi architecto adipisci officiis qui consequuntur et impedit
      repudiandae necessitatibus magni assumenda aperiam vero, non ad dolore
      dicta amet odio.
    </p>
  </body>
  <%- include('partials/footer')%>
</html>
