<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head')%>

  <body>
    <center>
      <img
        src="https://t4.ftcdn.net/jpg/05/52/30/75/240_F_552307566_9cgrJdBuPPsu8isyMwsttMv2eZy4R1WV.jpg"
        width="60%"
        height="500px"
      />
      <h3><%=subreddit%> Not Found</h3>
    </center>
  </body>
</html>
