<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Comments Index</title>
  </head>
  <body>
    <h1>comments</h1>
    <ul>
      <%for(let c of comments){%>
      <li>
        <%= c.comment %> - <b><%= c.username %></b>
        <button>
          <a href="/comments/<%=c.id%>" style="text-decoration: none"
            >Details</a
          >
        </button>
        <!-- <button>
          <a href="/comments/<%=c.id%>" style="text-decoration: none">Edit</a>
        </button> -->
      </li>
      <% } %>
    </ul>
    <h3>
      <button>
        <a href="/comments/new" style="text-decoration: none">New comment</a>
      </button>
    </h3>
  </body>
</html>
